
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

body, p, ul, li {
  font-family: 'Roboto', sans-serif;
}

.bg-primary {
  background-color: #007bff !important;
}

.text-primary {
  color: #8ffbf6 !important;
}

.social-icons a {
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffdd57;
}
.card {
  border: none;
  border-left: 4px solid #007bff;
}

.card-body h3 {
  font-size: 1.3rem;
}

footer {
  background-color: #333;
  color: #fff;
}
